{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% get_current_language as lang %}
{% load is_member %}
<div class="row">
        <div class="col-lg-9 col-sm-12 news-card">
                {% if news %}
                {% for n in news %}
                <div class="card text-center news-card">
                        <div class="card-body">
                                <h5 class="card-title">{{ n.name|safe }}</h5>
                                <p class="card-text">
                                {% if lang == "fr" and n.content %}
                                {{ n.content|safe }}
                                {% elif lang == "en" and n.content_en %}
                                {{ n.content_en|safe }}
                                {% elif lang == "de" and n.content_de %}
                                {{ n.content_de|safe }}
                                {% elif lang == "ru" and n.content_ru %}
                                {{ n.content_ru|safe }}
                                {% else %}
		  						{% trans "No translation available. Please try another language (English or French)." %}
                                {% endif %}
                                </p>
                        </div>
                        <div class="card-footer text-muted">
                                {{ n.pub_date }}
                        </div>
                </div>
                {% endfor %}
                {% else %}
				<p class="text-center">{% trans "No article available." %}</p>
                {% endif %}
        </div>
        <div class="col-lg-3 col-sm-12 right-sidebar">
                <ul class="list-group">
					<li class="list-group-item active">{% trans "Latest challenges added" %}</li>
                        {% if ctfs %}
                        {% for ctf in ctfs %}
			<a class="list-group-item" href="{% url 'ctf' cat_slug=ctf.category.slug ctf_slug=ctf.slug %}">{{ ctf.name }}</a>
                        {% endfor %}
                        {% else %}
						<li class="list-group-item">{% trans "No ctf available." %}</li>
                        {% endif %}
                </ul>
                <ul class="list-group">
                        <li class="list-group-item">Top 10</li>
                        {% for t in top %}
                        {% ismember t.user.userprofileinfo as is_member %}
                        <li class="list-group-item text-truncate"># {{ forloop.counter }}
                                <a class="profile_link {{is_member}}" href="{% url 'accounts:profile' user_name=t.user.username %}"> {{ t.user.username }}</a> 
                                <span style="position:absolute;right: 15px;">{{ t.score }}</span></li>
                        {% endfor %}
                </ul>
                <ul class="list-group">
					<li class="list-group-item active">{% trans "Flags counter" %}</li>
                        <li class="list-group-item"><span>{{ flags }}</span></li>
                </ul>
        </div>
        
</div>
{% endblock %}

