{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12 col-md-9">
                <div class="ctf-block">
                        <div class="ctf-head">
                                <h3>Reset password</h3>
                        </div>
                        <div class="ctf-body">
                            <div class="col-sm-8 col-md-6 mx-auto">
                                    <form method="post">
										{% csrf_token %}
										<div class="form-group">
											<input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" placeholder="Email"><br>
                                            <input class="form-control" type="submit" value="{% trans "Reset" %}">
                                        </div>
                                    </form>
                            </div>
                        </div>
                </div>

        </div>
        <div class="col-sm-12 col-md-3 right-sidebar">
                <ul class="list-group">
					<a href="/accounts/signin" class="list-group-item">{% trans "Login" %}</a>
					<a href="/accounts/signup" class="list-group-item"{% trans "Sign up" %}</a>
                </ul>
        </div>
</div>
{% endblock %}

