{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% get_current_language as lang %}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="ctf-block">
            <div class="ctf-head">
            <h3>{% trans "Create new challenges" %}</h3>
            </div>
            <div class="ctf-body">
                {% trans "If you want to create new challenges for 42CTF, send us a message on " %}<a class="footer_imgs" href="https://discord.gg/DwZqPpA" target="_blank"><img src="/static/img/discord.png" width="30"></a> !<br><br>
                {% trans "If your challenge is offline, then you don't have to ask us in advance." %}<br>
                {% trans "If your challenge is online (for example web or pwn), then you should give us a short description of what you want to do." %}
                {% trans "We may be able to help you or to give you resources such as dockerfiles." %}
                {% trans "We plan to make those resources publicly available in a near future." %}
            </div>
        </div>
    </div>

</div>
{% endblock %}