{% block content %}
{% load i18n %}
{% get_current_language as lang %}
    <div class="col-sm-12 col-md-6">
        <div class="ctf-block">
            <div class="ctf-head">
                <center><h3>{% trans "Edit this page" %}</h3></center>
            </div>
            <div class="ctf-body">
                <br>
                <br>
               {% trans "More information coming soon, but as you can guess it involves making a pull request to your favorite" %} <a href="https://github.com/Danhia/42CTF/">repository</a> ;)
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}