{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% get_current_language as lang %}
<div class="row">
        {% block 42ctf %}
                {% include "./42ctf.html" %}
        {% endblock %}
        {% block tools %}
                {% include "./tools.html" %}
        {% endblock %}
        {% block translate %}
                {% include "./translate.html" %}
        {% endblock %}
        {% block create_challenge %}
                {% include "./create_challenge.html" %}
        {% endblock %}
        {% block edit %}
                {% include "./edit.html" %}
        {% endblock %}
        {% block donate %}
                {% include "./donate.html" %}
        {% endblock %}
</div>
{% endblock %}