{% block content %}
{% load i18n %}
{% get_current_language as lang %}
    <div class="col-sm-12 col-md-6">
        <div class="ctf-block">
            <div class="ctf-head">
            <center><h3>{% trans "Recommended Tools" %}</h3></center>
            </div>
            <div class="ctf-body">
                {% trans "To get you started, we built a VM that you can simply import in" %} <a href="https://www.virtualbox.org/wiki/Downloads">Virtual Box</a> {% trans "with a bunch of useful tools." %}<br>
                {% trans "You can dowload this OVA" %} <a href="/media/xubuntu-42ctf.ova">{% trans "here" %}</a>.<br>
                <br>
                {% trans "Here are the tools installed on the VM:" %}<br>
                - <a href="https://github.com/exiftool/exiftool">exiftool</a></br>
                - <a href="https://portswigger.net/burp/communitydownload">burp</a></br>
                - <a href="https://cutter.re">cutter</a></br>
                - <a href="https://github.com/ReFirmLabs/binwalk">binwalk</a></br>
                - <a href="https://rada.re">r2</a></br>
                - <a href="https://gef.readthedocs.io/en/master/">gdb/gef</a></br>
                - qemu-user</br>
                <br>
                {% trans "If you want to solve the challenges on your own machine, we recommend you to use a Linux operating system."%}
                {% trans "Most of the reverse challenges are ELF binaries and won't run on Mac OS or Windows." %}<br><br>

                {% trans "Additionnaly, you will need the following languages interpreters:" %}<br>
                - python3<br>
                - lua<br>
                <br>
                <br>
            </div>
        </div>
    </div>

{% endblock %}