Vous avez remarqué un petit changement sur le scoreboard de 42CTF ?<br><br>

Pas de panique, tous vos flags sont sains et saufs. Nous avons juste basculé sur du scoring dynamique. Cela signifie que les points des challenges ne sont plus fixes : ils diminueront désormais à chaque nouvelle résolution.<br>

Un challenge démarre à 200 points, et ne peut pas descendre en dessous de 5 points.<br><br>

Nous espérons que cela permettra de mieux refléter la véritable difficulté des challenges. Les événements à durée limitée ne sont pas concernés par ce changement.