{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
  <div class="col-sm-12 col-md-9">
    <div class="ctf-block">
		<div class="ctf-head">
			<h3>Edit info</h3>
		</div>
        <div class="bloc-body">
            <div class="col-sm-12 col-md-12 mx-auto">
				{{ u_form.non_field_errors }}
				{% if error is not None %}
					<span class="message error-msg">{{ error }}</span>
				{% elif success is not None %}
					<span class="message success-msg">{{ success }}</span>
				{% endif %}
				<form method='POST'>
                    <div class="edit-infos-grp">
						{%csrf_token%}
						<label for="{{ u_form.username.id_for_label }}">{% trans "Username" %} *</label>
						{{ u_form.username.errors}}
						{{u_form.username}}
						</br>
						<label for="{{ u_form.email.id_for_label }}">{% trans "Email" %} *</label>
						{{ u_form.email.errors}}
						{{u_form.email}}
						</br>
						</br>
						<label for="{{ p_form.portfolio_site.id_for_label }}">{% trans "Website" %}</label>
						{{p_form.portfolio_site}}
						</br>
						</br>Token
						<input type='text' readonly value='{{token}}'>
						</br>
						<input class="form-control" type="submit" value="{% trans "Apply" %}">
					</div>
				</form>
			</div>
		</div>
	</div>

  </div>
  <div class="d-none d-md-block col-10 col-md-3 right-sidebar">
    <ul class="list-group">
		<li class="list-group-item">{{ user.username }}</li>
		<li class="list-group-item">{% trans "Score" %} : {{ user.userprofileinfo.score }}</li>
		{% if user.userprofileinfo.portfolio_site %}
			<li class="list-group-item">
				<a href="{{ user.userprofileinfo.portfolio_site }}" target="_blank">
					{{ user.userprofileinfo.portfolio_site }}
				</a>
			</li>
		{% endif %}
		<li class="list-group-item">{% trans "Registered since" %} {{ user.date_joined|date:"Y-m-d" }}</li>
	</ul>
	<ul class="list-group">
		<form method='GET' action="{% url 'accounts:delete_account' %}">
		  {%csrf_token%}
		  <li class="list-group-item">
			<input class="form-control" type="submit" value="{% trans "Delete my account" %}">
		  </li>
		</form>
	  </ul>
  </div>
</div>
{% endblock %}

