{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
  <div class="col-sm-12 col-md-9">
    <div>
		<h4>Challenges Solved by {{ user.username }}</h4>
		{% if solves%}

	<div class="table table-dark">
            <div class="card-body" style="padding-left:10px;">
				<canvas id="time-chart" height="100"></canvas>
            </div>
  	</div>
	<table class="table table-dark">
  		<thead>
          <tr>
			  <th scope="col">{% trans "Challenge Name" %}</th>
			  <th scope="col">{% trans "Category" %}</th>
			  <th scope="col">{% trans "Points" %}</th>
			  <th scope="col">{% trans "Date" %}</th>
          </tr>
        </thead>
        <tbody>
					{% for s in solves %}
					<tr>
						<th scope="row"><a href="{% url 'ctf' cat_slug=s.ctf.category.slug ctf_slug=s.ctf.slug %}">{{ s.ctf.name }}</a></th>
							<td>{{ s.ctf.category.name}}</td>
							<td>{{ s.ctf.points }}</td>
							<td>{{ s.flag_date|date:"Y-m-d H:i:s" }}</td>
          </tr>
					{% endfor %}
        </tbody>
      </table>
			{% else %}
			<p>{% trans "It's seem {{ user.username }} have never solved any CTF yet..." %}</p>
			{% endif %}
    </div>
  </div>
  <div class="d-none d-md-block col-10 col-md-3 right-sidebar">
    <ul class="list-group">
		<li class="list-group-item">{{ user.username }}</li>
		<li class="list-group-item">{% trans "Score" %} : {{ user.userprofileinfo.score }}</li>
		{% if user.userprofileinfo.portfolio_site %}
			<li class="list-group-item">
				<a href="{{ user.userprofileinfo.portfolio_site }}" target="_blank">
					{{ user.userprofileinfo.portfolio_site }}
				</a>
			</li>
		{% endif %}
		<li class="list-group-item">{% trans "Member since" %} {{ user.date_joined|date:"Y-m-d" }}</li>
	</ul>

	<div class="right-sidebar">
    	<ul class="list-group">
			<li class="list-group-item">{% trans "Category Stats" %}</li>
			<li class="list-group-item">
				<canvas id="global-chart"></canvas>
			</li>
	</div>
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var pie_conf= {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ globalDatas|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Solved by category'
        }],
        labels: {{ globalLabels|safe }}
      },
      options: {
      	legend: {display: false},
        responsive: true
      }
    };
	var time_conf = {
    	type: 'line',
    	data: {
        	datasets: [{
          		data: {{ timeDatas|safe }},
          		fill: false,
    			borderColor: 'rgb(75, 192, 192)',
				pointBackgroundColor: '#fff',
				pointBorderColor: '#fff',
    			tension: 0.1,
          		label: 'Challenge solved'
        	}, {
        	}],
        	labels: {{ timeLabels|safe }}
    	},
      	options: {
      		legend: {
      			display: false,
      		},
      		scales: {
      			yAxes: [{
					ticks: {
                  	  fontColor: "#D9D9D9", // this here
                	},
				}], 
      			xAxes: [{
					ticks: {
                  	  fontColor: "#D9D9D9", // this here
                	},
				}],
			},
        	responsive: true,
  		  }
	};

    window.onload = function() {
      var globalchart = document.getElementById('global-chart').getContext('2d');
      var timechart = document.getElementById('time-chart').getContext('2d');
      window.globalPie = new Chart(globalchart, pie_conf);
      window.timePie = new Chart(timechart, time_conf);
    };

  </script>
{% endblock %}

