body {
  background-color: #121212;
  color: #d9d9d9;
}
.card-body {
  background-color: #1d1d1d;
}
a {
  color: #4375aa;
}
a:hover {
  color: #a9a9a9;
  text-decoration: none;
}
.main-div {
  margin-top: 40px;
}
.news-card {
  margin-bottom: 20px;
  border: none;
}
.news-card .card-header {
  padding: 3px;
  background-color: #1d1d1d;
}
.news-card .card-footer {
  padding: 0;
  background-color: #1d1d1d;
}
.list-group-item {
  border: none;
  background-color: #1d1d1d;
}
.list-group-item:first-child {
  border-radius: 0;
  background-color: #2d2d2d;
}
.list-group-item:last-child {
  border-radius: 0;
}
.navbar-dark {
  background-color: #1d1d1d;
}
.right-sidebar .list-group {
  margin-bottom: 20px;
}
pre {
  background-color: #000;
  color: #cecece;
  padding-left: 15px;
  font-weight: bolder;
}
.dropdown-menu {
  background-color: #1d1d1d;
  border: none;
  border-radius: 0;
}
.dropdown-item {
  color: #d9d9d9;
}
.dropdown-item:hover {
  background-color: #1d1d1d;
  color: #fff;
}
.flag_link {
  margin-right: 6px;
}
.flag_img {
  margin-top: 10px;
  width: 28px;
}
.table-dark {
  background-color: #1d1d1d;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  border: none;
}
.list-group a {
  text-decoration: none;
  /* color: #4375aa; */
}
.list-group a:hover {
  text-decoration: none;
  color: #fff;
}
.ctf-block {
  background-color: #1d1d1d;
  min-height: 235px;
  padding: 15px;
  margin-bottom: 20px;
}
.ctf-body {
  margin-top: 50px;
}
.bloc-body {
  margin-top: 25px;
}
.ctf-footer {
  margin-top: 15px;
  text-align: center;
}
.event-block {
  background-color: #1d1d1d;
  min-height: 235px;
  margin-bottom: 20px;
}
.event-body {
  padding: 15px;
  margin-top: 50px;
}
.event-footer {
  margin-top: 15px;
  text-align: center;
  padding: 15px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="url"] {
  transition: 0.2s;
  border: 2px solid #2d2d2d;
  background-color: #2d2d2d;
  padding: 3px;
  border-radius: 4px;
}
input[type="submit"] {
  padding: 0;
  margin-left: 5px;
  border-bottom: 3px solid #000;
}
.begin-ctf-link {
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  background-color: #121212;
  width: 125px;
  border-bottom: 3px solid #000;
  padding: 5px;
}
.begin-ctf-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  transition-duration: 0.3s;
}
.submitflag-form {
  display: block;
  text-align: center;
}
input[type="text"] {
  display: block;
  margin: 0;
}
input[type="submit"] {
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  margin: 0;
  height: 34px;
  border-radius: 0;
  background-color: #121212;
  border-left: None;
  border-right: None;
  border-top: None;
  border-bottom: 3px solid #000;
}
input[type="submit"]:hover {
  background-color: #000;
}
.submitflag-form {
  display: block;
  text-align: center;
}
.submitflag-form input[type="text"] {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  margin-right: -4px;
}
.submitflag-form input[type="submit"] {
  width: 40px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  margin: 0;
  height: 34px;
  border-radius: 0;
  background-color: #121212;
  border-left: None;
  border-right: None;
  border-top: None;
  border-bottom: 3px solid #000;
}
.submitflag-form input[type="submit"]:hover {
  background-color: #000;
}
.edit-infos-grp input {
  width: 100%;
}
.message {
  display: block;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.success-msg {
  background-color: #42b35e4f !important;
}
.error-msg {
  background-color: #9542428c;
}
.progress {
  background-color: #2d2d2d;
}
.bg-success {
  background-color: #d9d9d9 !important;
  color: #000;
}
.event-card {
  background-color: #1d1d1d;
  min-height: 30vh;
  margin-bottom: 13.37px;
}
.card-img-top {
  height: 150px;
}
.chall-card {
  background-color: #131313;
  min-height: 100px;
  border-radius: 2px;
  margin-bottom: 13.37px;
}
.is-over {
  opacity: 50%;
}
.event-head {
  height: 20vh;
  background-size: cover;
  color: #fff;
  padding: 20px;
  padding-top: 40px;
}
footer {
  border-top: 1px solid #333;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.footer-text {
  -moz-box-align: center;
  backface-visibility: hidden;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 0.875rem !important;
  font-weight: 500;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  visibility: visible;
  padding-top: 5px;
}
.patreon {
  width: 250px;
  height: 59px;
  background-color: #ff6363;
  font-family: America, "GT America", Lato, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-rendering: optimizeLegibility;
  -moz-box-align: center;
  backface-visibility: hidden;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem !important;
  font-weight: 500;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0.46875rem 1rem;
  position: relative;
  pointer-events: unset;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  user-select: none;
  white-space: unset;
  align-items: center;
  color: #fff;
}
.li-patreon {
  width: 120px;
  height: 37px;
  background-color: #ff6363;
  font-family: America, "GT America", Lato, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-rendering: optimizeLegibility;
  -moz-box-align: center;
  backface-visibility: hidden;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.875rem !important;
  font-weight: 500;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0.46875rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  user-select: none;
  align-items: center;
  color: #fff;
  margin-top: 4px;
  margin-right: 13px;
}
.patreon:hover {
  background-color: #ff4a4a;
  color: #fff;
}
.patreon-text {
  padding-left: 1em;
}
.patreon svg {
  height: 1.3rem;
  width: 1.3rem;
  fill: #fff;
}
.patreon-content {
  -moz-box-align: center;
  align-items: center;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  visibility: visible;
}
.svg-box {
  align-self: center;
  -moz-box-align: center;
  align-items: center;
  display: inline-flex;
  filter: none;
  vertical-align: unset;
  height: unset;
  width: unset;
  cursor: unset;
}
.is-member {
  color: #2b908f;
}

@media only screen and (min-width : 1200px) {
  .container { max-width: 1400px; }
}

@media screen and (max-width: 991px) {
    .container { display: flex; flex-flow: column; }
    .top-sm { order: 1; }
    .middle-sm { order: 2; }
    .bottom-sm { order: 3 }
}