{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
  <div class="col-sm-12 col-md-9 news-card">
      <h3>{{ cat.name }}</h3>
  {% if ctfs %}
  <table class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="col"></th>
		<th scope="col">{% trans "Username" %}</th>
		<th scope="col">{% trans "Score" %}</th>
		<th scope="col">{% trans "Solved" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for ctf in ctfs %}
      <tr>
        {% if request.user.is_authenticated %}
                {% if ctf.solved %}
                        <th scope="row" style="color:green;">&#10003;</th>
                {% else %}
                        <th scope="row" style="color:red;">&#10005;</th>
                {% endif %}
        {% else %}
                <th scope="row"> </th>
        {% endif %}
        <td><a href="{% url 'ctf' cat_slug=ctf.category.slug ctf_slug=ctf.slug %}">{{ ctf.name }}</td>
        <td>{{ ctf.points }}</td>
        <td>{{ ctf.solved_num }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{% trans "No ctf available for this category." %}</p>
  {% endif %}
  </div>
  <div class="col-sm-12 col-md-3 right-sidebar">
    <ul class="list-group">
		<li class="list-group-item active">{% trans "Categories" %}</li>
    {% if cats %}
    {% for c in cats %}
    <a class="list-group-item" href="{% url 'category' cat_slug=c.slug %}">{{ c.name }}</a>
    {% endfor %}
    {% else %}
	<li class="list-group-item">{% trans "No category available." %}</li>
    {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
