{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="ctf-block">
            <div class="ctf-head">
                <h3>{{ event.name }}</h3>
                <small>{% trans "This event starts at" %} : {{ event.start_date }}</small>
            </div>
            
            <div class="ctf-footer">
                <div class="col-sm-8 col-md-6 mx-auto">
                    {% if logged == True%}
                    {% if registered == False %}
                    <span class="message error-msg">{% trans "You need to be registered to the event." %}</span>
                    {% else %}
                    {% if exist == True %}
                    <span class="message error-msg">{% trans "Name already taken." %}</span>
                    {% endif %}
                    <h2>Create Team</h2>
                    <form method="post" action="{% url 'events:create_team' event_slug=event.slug %}" class="create-team-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="text" name="teamname" placeholder="{% trans "Team name" %} *" maxlength="150" required="" id="id_teamname"></br>
                            <input class="form-control" type="password" name="password" placeholder="{% trans "Password" %} *" required="" id="id_password"></br>
                            <input type="submit" name="" class="form-control" value="{% trans "Create Team" %}">
                        </div>
                    </form>
                    {% endif %}
                    {% else %}
                    <h4>{% trans "You need to be logged to access this event." %}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-10 col-md-3 right-sidebar">
        <ul class="list-group">
            <li class="list-group-item">{{ event.name }}</li>
            <li class="list-group-item">{% trans "Starts at" %} : {{ event.start_date | date:'H:i d-m-y'}}</li>
            <li class="list-group-item">{% trans "Ends at" %} : {{ event.end_date | date:'H:i d-m-y'}}</li>
            
        </ul>
        <ul class="list-group">
            <li class="list-group-item">{% trans "Manage team" %}</li>     
            <a href="{% url 'events:join_team' event_slug=event.slug %}" class="list-group-item">→{% trans "Join Team" %}</a>     
            <a href="{% url 'events:create_team' event_slug=event.slug %}" class="list-group-item">{% trans "Create Team" %}</a>
        </ul>
        {% if event.auto_match %}
        <ul class="list-group">
            <li class="list-group-item">{% trans "No team yet ?" %}</li>     
            <form method='GET' action="{% url 'events:find_team' event_slug=event.slug %}">
                {%csrf_token%}
                <li class="list-group-item">
                    <input class="form-control" type="submit" value="{% trans "Find me a team !" %}">
                </li>
            </form>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}