{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="ctf-block">
            <div class="ctf-head">
                <h3>{{ event.name }}</h3>
                <small>{% trans "This event start at" %} : {{ event.start_date }}</small>
            </div>
            
            <div class="ctf-footer">
                {% if logged == True %}
                <h4>{% trans "This event is password protected" %}</h4>
                <small>{% trans "You need to submit the event password to gain access to this event." %}</small>
                <form method="post" action="{% url 'events:submit_pwd' event_slug=event.slug %}" class="submitflag-form">
                    {% csrf_token %}
                    <input type="text" name="password" maxlength="48" required="">
                    <input class="form-control" type="submit" value=">">
                </form>
                {% else %}
                    <h4>{% trans "You need to be logged to access this event." %}</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-10 col-md-3 right-sidebar">
        <ul class="list-group">
            <li class="list-group-item">{{ event.name }}</li>
            <li class="list-group-item">{% trans "Start at" %} : {{ event.start_date }}</li>
            <li class="list-group-item">{% trans "End at" %} : {{ event.end_date }}</li>
            
        </ul>
    </div>
</div>
{% endblock %}

