{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
  <div class="col-12">
    <h3>Events</h3>
  </div>
  {% if events %}
    {% for ev in events %}
    {% if request.user.is_authenticated %}
    
    {% else %}
    {% endif %}
    {% if curdate > ev.end_date %}
    <div class="col-md-3 is-over">
    {% else %}
    <div class="col-md-3">
    {% endif %}
      <div class="event-card">
        <img
        src="{{ev.img}}"
        class="card-img-top"
        alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ ev.name }}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">{{ ev.start_date }} <br> - <br> {{ ev.end_date }}</li>
        </ul>
        <div class="card-body text-center">
          <a href="{% url 'events:event_info' event_slug=ev.slug %}" class="card-link">See more</a>
        </div>
      </div>
    </div>
      {% endfor %}
    {% else %}
    <p>{% trans "No events available." %}</p>
    {% endif %}
  </div>
  
</div>
{% endblock %}
