{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load is_flagged %}
<div class="row">
  <div class="col-sm-12 col-md-9">
    {% if subisover == True %}
    <span class="message error-msg">{% trans "Subscriptions is over." %}</span>
    {% endif %}
    {% if alreadyregistered == True %}
    <span class="message error-msg">{% trans "You're already registered to this event." %}</span>
    {% endif %}
    <div class="event-block">
      <div class="event-head" style="background-image:linear-gradient(180deg, rgba(102,102,102,0.3) 100%, rgba(29,29,29,1) 100%),url('{{ event.img }}');">
        <h3>{{ event.name }}</h3>
        {% if ended == True %}
        <small>{% trans "This event is over." %}</small>
        {% else %}      
        <small>{% trans "This event start at" %} : {{ event.start_date }}</small>
        {% endif %}      
      </div>
      <div class="event-body">
        {% if event.description %}
        {{ event.description|safe }}
        {% endif %}
      </div>
      <div class="event-footer">
        {% if begun == True %}
          <h4>{% trans "Challenges" %}</h4>
          
          {% if ctfs %}
          <div class="row">
            {% for ctf in ctfs %}
            <div class="col-md-4">
              {% isflagged request.user ctf as flagged%}
              <a href="{% url 'events:event_chall_info' event_slug=event.slug chall_slug=ctf.slug %}">
                <div class="chall-card {{flagged}}">
                  <p>{{ ctf.category }}</p>
                  <p>{{ ctf.name }} - {{ ctf.points }}</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <small>{% trans "No challenges available." %}</small>
          {% endif %}

        {% else %}
        <h4>{% trans "The event has not started yet." %}</h4>
        
        {% endif %}
      </div>
    </div>
    <div>
      <h4>{% trans "ScoreBoard" %}</h4>
      {% if solved_list %}
      {% if event.team_size == 1 %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">{% trans "Rank" %}</th>
            <th scope="col">{% trans "Username" %}</th>
            <th scope="col">{% trans "Website" %}</th>
            <th scope="col">{% trans "Score" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for s in solved_list %}
          <tr>
            <th scope="row"># {{ forloop.counter0|add:1 }}</th>
            <th scope="row">
              <a class="profile_link" href="{% url 'events:profile' user_name=s.user.username event_slug=event.slug %}"> {{ s.user.username }}</a>
            </th>
            <td>{{ s.user.userprofileinfo.site }}</td>
            <td>{{ s.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">{% trans "Rank" %}</th>
            <th scope="col">{% trans "Team" %}</th>
            <th scope="col">{% trans "Score" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for s in solved_list %}
          <tr>
            <th scope="row"># {{ forloop.counter0|add:1 }}</th>
            <th scope="row">
              <a class="profile_link" href="{% url 'events:team_info' name=s.name event_slug=event.slug %}"> {{ s.name }}</a>
            </th>
            <td>{{ s.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% else %}
      <p>{% trans "No one have earn point yet, you gonna be the first ?" %}</p>
      {% endif %}
    </div>
  </div>
  <div class="d-none d-md-block col-10 col-md-3 right-sidebar">
    <ul class="list-group">
      <li class="list-group-item">{{ event.name }}</li>
      <li class="list-group-item">{% trans "Starts at" %} : {{ event.start_date | date:'H:i d-m-y'}}</li>
      <li class="list-group-item">{% trans "Ends at" %} : {{ event.end_date | date:'H:i d-m-y'}}</li>
      {% if ended == False and IsRegistered == False %}
      <form method='POST' action="{% url 'events:subscribe_event' event_slug=event.slug %}">
        {%csrf_token%}
        <li class="list-group-item">
          <input class="form-control" type="submit" value="{% trans "Subscribe" %}">
        </li>
      </form>
      {% endif %}
    </ul>
    {% if event.team_size > 1 and IsRegistered == True and ended == False %}
    <ul class="list-group">
      <form method='GET' action="{% url 'events:manage_team' event_slug=event.slug %}">
        {%csrf_token%}
        <li class="list-group-item">
          <input class="form-control" type="submit" value="{% trans "Manage my team" %}">
        </li>
      </form>
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}

