{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="row">
  <div class="col-12">
    <h3>{% trans "Events" %}</h3>
  </div>
  {% if events %}
    {% for ev in events %}
    {% if curdate > ev.end_date %}
    <div class="col-md-3 is-over">
    {% else %}
    <div class="col-md-3">
    {% endif %}
      <div class="event-card">
        <img
        src="{{ev.logo}}"
        class="card-img-top"
        alt="{{ ev.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">
            {{ ev.name }}
          </h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            {{ ev.start_date }} <br> - <br> {{ ev.end_date }}
            <br>
            {% if curdate > ev.end_date %}
            <span class="badge badge-pill badge-secondary">Finished</span>
            {% else %}
            <span class="badge badge-pill badge-success">Open</span>
            {% endif %}
          </li>
        </ul>
        <div class="card-body text-center">
          <a href="{% url 'events:event_info' event_slug=ev.slug %}" class="card-link">{% trans "See more" %}</a>
        </div>
      </div>
    </div>
      {% endfor %}
    {% else %}
    <p>{% trans "No events available." %}</p>
    {% endif %}
  </div>
  
</div>
{% endblock %}
